<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>你想干甚？</title>
  <link rel="stylesheet" href="node_modules\normalize.css\normalize.css">
  <link rel="stylesheet" href="css/master.css">
</head>
<body>

  <div id="main">
    <div class="header">
      <h1>你想干甚？</h1>
    </div>
    <form @submit.prevent="merge" id="task-form">
      <div class="wrap">
        <input v-model="current.title" type="text" id="task-input">
        <button type="submit" name="button">记下</button>
      </div>

    </form>
    <div class="task-list">
      <div  class="wrap">
        未完成
        <div v-if="!todo.complete" v-for="todo in list" class="item">
          <button @click="toggle_com(todo.id)" type="button" name="button">完成</button>
          {{todo.title}}
          <button @click="remove(todo.id)" type="button" name="button">删除</button>
          <button @click="set_current(todo)" type="button" name="button">更新</button>
        </div>
      </div>
    </div>
    <div class="task-list">
      <div class="wrap">
        已完成
        <div class="item">
          <div v-if="todo.complete" v-for="todo in list" class="item completed">
            <button @click="toggle_com(todo.id)" type="button" name="button">未完成</button>
            {{todo.title}}
            <button @click="remove(todo.id)" type="button" name="button">删除</button>
          </div>
        </div>
      </div>

    </div>
  </div>

<script src="node_modules\jquery\dist\jquery.js" charset="utf-8"></script>
<script src="node_modules\vue\dist\vue.js" charset="utf-8"></script>
<script src="js/myStorage.js" charset="utf-8"></script>
<script src="js/main.js" charset="utf-8"></script>
</body>
</html>
